<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-card-4">
  <div class="w3-container w3-brown">
    <h2>Update User</h2>
  </div>
<!--  <form class="w3-container" th:action="@{/updateUser/{id}(id =${userTake.getId()})}" th:object="${userTake}"  method="post">-->
  <form class="w3-container" th:action="@{/updateUser}" th:object="${userTake}"  method="post">
    <input style="display: none" class="w3-input w3-border w3-sand" name="id" type="text" th:value="${userTake.getId()}"></p>
    <p>
      <label class="w3-text-brown"><b>Name</b></label>
      <input class="w3-input w3-border w3-sand" name="name" type="text" th:field="*{name}"></p>
    <p>
      <label class="w3-text-brown"><b>Email</b></label>
      <input class="w3-input w3-border w3-sand" name="email" type="text" th:field="*{email}"></p>
    <p>
    <p>
      <label class="w3-text-brown"><b>Phone</b></label>
      <input class="w3-input w3-border w3-sand" name="phone" type="text" th:field="*{phone}"></p>
    <p>
      <button class="w3-btn w3-brown">Update</button></p>
  </form>
</div>

</body>
</html>